/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Style */

body {
    font: 16px/28px arial, sans-serif;
    background-color: white;
    background-image: url(img/cssimage.jpg);
    color: black;


}

.container {
    width: 800px;
    margin: auto;
    background-color: #eaeaea;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;

}

.header li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: blue;
    padding: 3px;
}

.header a:hover {
    background-color: darkblue;
    color: white;
}

.hero {
    height: 250px;
    background-image: url(img/csslogo.png);
    background-size: cover;
    background-position: 0-325px;
    border-top: 5px solid darkblue;
    border-bottom: 5px solid darkblue;
}

.content {
    padding: 20px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;

}

.penulis a:hover {
    background-color: darkblue;
    color: white;

}

.penulis a {
    color: darkblue;
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

.paragraf1 {
    line-height: 1, 5;
}

.paragraf2 {
    line-height: 1, 5;
}

.paragraf3 {
    line-height: 1, 5;
}

ul.inlinecss {
    list-style-type: disc;
    font-weight: bold;
    font-size: 21px;
}

ul.internalcss {
    list-style-type: disc;
    font-weight: bold;
    font-size: 21px;
}

ul.externalcss {
    list-style-type: disc;
    font-weight: bold;
    font-size: 21px;
}

.sumber1 {
    list-style-type: disc;

}

.sumber2 {
    list-style-type: disc;
    font-size: 15px;
}

.sumber1 a:hover {
    background-color: darkblue;
    color: white;
}

.sumber2 a:hover {
    background-color: darkblue;
    color: white;
}